.titulocss{
    color:#00b5fd;
    text-align: center;
}
#tituloid{
    color: #00ff80;
    font-family: 'Exo 2', sans-serif;
    padding: 0% 2%;
    text-decoration: underline;
}
#Hermano1 + p{
    display: inline;
    background-color: beige;
    color: #000;
}
#Hermano2 ~ p{
    display: block;
    background-color: blue;
    color: darkgoldenrod;
}
#padre > .Hijo{
    display: inline;
    background-color: darkorange;
}