body{
    margin: 0;
    padding: 0;
    background:linear-gradient(215deg, #0066ff 30%,#000000 60%);
}
.header{
    background-color: black;
    width: 100%;
}
.header a{
    text-decoration: none;
}
.header .titulo1{
    color: #fff;
    margin: 0;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
}
.resaltado{
    font-family: 'M PLUS 1 Code', sans-serif;
    color: #47ff2f;
}
.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.caja1{
    margin: 5%;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 5px #fff; 
    background-color: #5e5e5e;
}
.caja1 img{
    height: 326px;
    width: 300px;
}
main .titulo1, .titulo2, .titulo3, .titulo4{
    color: #ff2f2f;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
}
p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
}