.titulohtml{
    color: #f33d00;
    text-align: center;
}
.tsection, .tarticle{
    display: inline;
    padding: 0%;
    margin: 0% 2%;
}
.tsection{
    background-color: #0151ff;
}
.tarticle{
    background-color: #8c00ff;
}
.header2, .main2, .footer{
    border: solid 5px #000000;
}
.header2{
    background-color: #3a3a3a;
    text-align: center;
}
.main2{
    background-color: #00adb9;
}
.footer{
    background-color: #3a3a3a;
    text-align: center;
}
.listaNav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    color: #448cff;
    font-family: 'Exo 2', sans-serif;
    padding: 0% 2%;
}
.section{
    background-color: #0151ff;
    margin: 1%;
}
.article{
    background-color: #8c00ff;
    margin: 1%;
}
.bloque{
    border: solid 5px #fff;
    color: #fff;
}
.tabla{
    font-family: 'Roboto', sans-serif;
    border: 2px solid #000;
    text-align: center;
    margin: 0% auto;
}
@media all and (max-width: 480px){
    .tabla{
        font-size: x-small;
    }
}
.tituloTabla{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}
.cabeceraTabla, .pieTabla{
    background-color: #eeff00;
}
.formulario{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0% 2%;
}
.audio{
    margin: 0% 2%;
}
.iframe{
    width:560px; 
    height:315px;
    margin: 0% auto;
    display: block;
    max-width: 90%;
}
.lista h3,
.lista h4{
    padding: 0%;
}
.cuerpoTabla tr{
    background-color: #ffffff;
}

.main-section img{
    max-width: 90%;
}