body{
    background:linear-gradient(120deg, #ff0000, #000000);
}
.tsection, .tarticle{
    display: inline;
    padding: 0%;
    margin: 0% 2%;
}
.tsection{
    background-color: #44e952;
}
.tarticle{
    background-color: #4491e9;
}
.header2, .main2, .footer{
    border: solid 5px #000000;
}
.header2{
    margin: 2% 2% 0% 2%;
    background-color: #3a3a3a;
    text-align: center;
}
.main2{
    margin: 0% 2%;
    background-color: #e98e44;
}
.footer{
    background-color: #3a3a3a;
    margin: 0% 2% 2%;
}
.listaNav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    color: #ffffff;
    font-family: 'M PLUS 1 Code', sans-serif;
    padding: 0% 2%;
}
.lista h3{
    padding: 0%;
}
.section{
    background-color: #44e952;
}
.article{
    background-color: #4491e9;
}
.bloque{
    border: solid 5px #fff;
    color: #fff;
}
.link{
    color: #ffffff;
    font-family: 'M PLUS 1 Code', sans-serif;
    text-decoration: underline;
}
.tabla{
    font-family: 'Roboto', sans-serif;
    border: 2px solid #000;
    text-align: center;
    margin: 0% auto;
}
@media all and (max-width: 480px){
    .tabla{
        font-size: x-small;
    }
}
.tituloTabla{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}
.cuerpoTabla tr{
    background-color: #ffffff;
}
th, tfoot{
    background-color: #eeff00;
}
.formulario{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0% 2%;
}
.main-section img{
    max-width: 90%;
}
audio{
    margin: 0% 2%;
}
iframe{
    width:560px; 
    height:315px;
    margin: 0% auto;
    display: block;
    max-width: 90%;
}