*{
    box-sizing: border-box;
}
body{
    background-color: #1d232f;
}
p{
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
figure{
    width: 500px;
    margin-top: 0;
}
.header{
    background-color: black;
}
.titulo1{
    color: #fff;
    margin: 0;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
}
.titulo2,
.titulo3,
.titulo4,
.ejemplo{
    margin-left: 2%;
    margin-right: 2%;
}
.titulo2{
    color: #ff4747;
}
.titulo3{
    color: #ff9d47;
}
.titulo4{
    color: #6ae96d;
}
.ejemplo{
    color: #448cff;
}
.resaltado{
    font-family: 'Exo 2', sans-serif;
    color: #ff4747;
}
.blank{
    color:#fff;
}
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.caja, 
.caja1{
    margin: 5%;
    border-radius: 30px; 
    border: 1px solid #fff;
    background-color: #181c27;
}
.caja1{
    width: 290px;
    padding-top: 2%;
}
.link{
    color: #448cff;
    font-family: 'Exo 2', sans-serif;
    text-decoration: underline;
}
.lista{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.img, 
.video{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 90%;
}
.main-section > img{
    max-width: 90%;
}
.header a,
.caja1 a{
    text-decoration: none;
}
.caja img{
    height: 326px;
    width: 300px;
}
.lista h3,
.lista h4{
    margin-left: 0%;
}
.titulo2,
.ejemplo,
.titulo3,
.titulo4,
.caja1 .titulohtml,
.caja1 .titulocss{
    font-family: 'Exo 2', sans-serif;
}
.caja:hover, .caja1:hover{
    box-shadow: 0px 0px 20px 10px #fff; ;
}