/*ESTILOS GENERALES PARA TODO EL SITIO WEB*/
:root{
    --max-width: 90%;
    --margin-padding_0: 0;
    --margin_padding_1: 3%;
    --margin_padding_auto: auto;
    --justify-aling-center: center;
    --font-normal: 'Roboto', sans-serif;
    --font-title: 'Exo 2', sans-serif;
    --color-white: #fff;
    --color-black: #000;
    --color-blue-1: #448cff;
    --color-blue-2: #00b5fd;
    --border-radius: 30px;
}

body{
    background-color: #1d232f;
}

figure{
    margin: var(--margin-padding_0) var(--margin-padding_0) var(--margin-padding_0) var(--margin_padding_1);
}

p,
.titulo1,
.lista{
    margin-left: var(--margin_padding_1);
    margin-right: var(--margin_padding_1);
    font-family: var(--font-normal);
    color: var(--color-white);
}

.header{
    background-color: var(--color-black);
}

.titulo1{
    display: inline-block;
}

.titulo2,
.titulo3,
.titulo4,
.ejemplo{
    margin-left: var(--margin_padding_1);
    margin-right: var(--margin_padding_1);
}

.titulo2{
    color: #ff4747;
}

.titulo3{
    color: #ff9d47;
}

.titulo4{
    color: #6ae96d;
}

.ejemplo{
    color: var(--color-blue-1);
}

.resaltado{
    font-family: var(--font-title);
    color: #ff4747;
}

.blank{
    color:var(--color-white);
}

.main-section{
    display: flex;
    justify-content: var(--justify-aling-center);
    align-items: var(--justify-aling-center);
    flex-wrap: wrap;
}

.caja, 
.caja1{
    margin: 5% 5% var(--margin-padding_0);
    border-radius: var(--border-radius); 
    background-color: #181c27;
}

.caja1{
    width: 290px;
    padding-top: 2%;
}

.cajaHTML{
    border: 1px solid #f33d00;
}

.cajaCSS{
    border: 1px solid var(--color-blue-2);
}

.link{
    font-family: var(--font-title);
    color: var(--color-blue-1);
}

.img, 
.video{
    max-width: var(--max-width);
    margin-left: var(--margin_padding_auto);
    margin-right: var(--margin_padding_auto);
    display: block;
}

figure .titulo4{
    margin-top: var(--margin-padding_0);
    margin-bottom: var(--margin-padding_0);
}

.main-section > img{
    max-width: var(--max-width);
}

.header a,
.caja1 a{
    text-decoration: none;
}

.caja img{
    height: 326px;
    width: 300px;
}

.lista h3,
.lista h4{
    margin-left: var(--margin-padding_0);
}

.lista li,
.lista dt{
    line-height: 1.5;
}

.titulo2,
.ejemplo,
.titulo3,
.titulo4,
.caja1 .titulohtml,
.caja1 .titulocss{
    font-family: var(--font-title);
}

.cajaHTML:hover{
    box-shadow: 0px 0px 20px 10px #f33d00;
}

.cajaCSS:hover{
    box-shadow: 0px 0px 20px 10px var(--color-blue-2);
}

#linkA{
    width: 210px;
    display: block;
    margin: 30px var(--margin_padding_auto) var(--margin-padding_0);
    padding: 20px 20px var(--margin-padding_0);
    background-color: var(--color-black);
    text-align: var(--justify-aling-center);
    text-decoration: none;
    font-family: var(--font-title);
    color: var(--color-white);
    border-radius: var(--border-radius);
}

#linkA:hover{
    box-shadow: 0px 0px 20px 10px var(--color-blue-2);
    color: var(--color-blue-2);
}