/*ESTILOS GENERALES APUNTES JS*/
.listaNav{
    display: flex;
    justify-content: var(--center);
    flex-wrap: wrap;
    padding: var(--margin-padding-0);
    font-family: var(--font-title);
}

.listaNav li,
.boton{
    display: var(--display-inline);
    padding: var(--length-20) var(--length-0);
    background-color:  #fed800;
    border: 2px solid #444b52;
}

.listaNav a,
.boton{
    text-decoration: none;
    color: #444b52;
    padding: var(--length-20);
}

.boton{ 
    font-family: var(--font-title);
    border-radius: var(--length-10);
    padding: var(--length-10) var(--length-20);
 }

.listaNav li:hover{ background-color: #ffe44a; }

.botonHover{
    color: var(--color-white);
    background-color: #ff4a4a;
    border: 2px solid var(--color-white);
    cursor: pointer;
}

.botonShadow{ box-shadow: 0px 0px 10px 5px #ffe44a;}

/*ESTILOS JavaScript.html*/
.titulojs{
    text-align: var(--center);
    color: #fed800;
}

/*ESTILOS Condicionales.html*/
#recorteInferior{
    clip-path: inset(0% 0% .5% 0%);
}

/*ESTILOS eventos.html*/
#parrafoevent{
    display: inline;
}

.grid {
    display: grid;
    width: var(--max-width);
    margin: var(--length-20) var(--auto);
    grid-template-columns: repeat(3, 30%);
    column-gap: 5%;
    row-gap: var(--length-10);
    font-family: var(--font-title);
    color: var(--color-white);
}

.grid_cell {
    display: flex;
    justify-content: var(--center);
    align-items: var(--center);
    font-size: x-large;
    border: 1px solid var(--color-white);
    cursor: pointer;
}

.red {
    background: var(--color-red);
}