/*ESTILOS GENERALES APUNTES JS*/
.listaNav{
    display: flex;
    justify-content: var(--center);
    flex-wrap: wrap;
    padding: var(--margin-padding-0);
    font-family: var(--font-title);
}

.listaNav li,
.boton,
.boton2{
    display: var(--display-inline);
    padding: var(--length-20) var(--length-0);
    background-color:  #fed800;
    border: 2px solid #444b52;
}

.listaNav a,
.boton,
.boton2{
    text-decoration: none;
    color: #444b52;
    padding: var(--length-20);
}

.boton,
.boton2{ 
    font-family: var(--font-title);
    border-radius: var(--length-10);
    padding: var(--length-10) var(--length-20);
 }

.listaNav li:hover,
.boton2:hover{ 
    background-color: #ffe44a; 
    cursor: pointer;
}

.botonHover{
    color: var(--color-white);
    background-color: #ff4a4a;
    border: 2px solid var(--color-white);
    cursor: pointer;
}

.icon{
    height: 48px;
}

.botonShadow{ box-shadow: 0px 0px 10px 5px #ffe44a;}

/*ESTILOS JavaScript.html*/
.titulojs{
    text-align: var(--center);
    color: #fed800;
}

/*ESTILOS Condicionales.html*/
#recorteInferior{
    clip-path: inset(0% 0% .5% 0%);
}

/*ESTILOS eventos.html*/
#parrafoevent{
    display: inline;
}

.grid {
    display: grid;
    width: var(--max-width);
    margin: var(--length-20) var(--auto);
    grid-template-columns: repeat(3, 30%);
    column-gap: 5%;
    row-gap: var(--length-10);
    font-family: var(--font-title);
    color: var(--color-white);
}

.grid_cell {
    display: flex;
    justify-content: var(--center);
    align-items: var(--center);
    font-size: x-large;
    border: 1px solid var(--color-white);
    cursor: pointer;
}

.red {
    background: var(--color-red);
}

/* ESTILOS API-WebStorage*/
.form {
    margin-bottom: 1rem;
}
.form__field {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 200px;
    margin-bottom: 1rem;
}

.info {
    display: grid;
    grid-template-columns: 40% 60%;
}

.info p {
    margin: 0 1rem;
}

/*ESTILOS API-dragDrop*/
.drop-zone {
    margin-left: var(--auto);
    margin-right: var(--auto);
    width: var(--max-width);
    border: 2px dotted var(--color-white);
    height: var(--length-100);
    text-align: var(--center);
    line-height: var(--length-100);
    font-family: var(--font-normal);
    color: var(--color-white);
}

/*ESTILOS API-File*/
.load-bar {
    width: var(--max-width);
    height: var(--length-20);
    margin: var(--length-10) var(--auto);
    background-color: var(--color-black);
  }
  
  /* .load-bar::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: royalblue;
    width: var(--bar-width);
    height: 10px;
  } */
  
.progress {
    display: block;
    width: 0;
    height: var(--length-20);
    background: repeating-linear-gradient(35deg, var(--color-seagreen), var(--color-seagreen) var(--length-20), var(--color-springgreen) var(--length-20), var(--color-springgreen) var(--length-40));
  }